<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingjue.springbootvueproject.dao.QualityMapper">
    <!--获取所有区域信息-->
    <select id="getAllRegionInfo" resultType="com.lingjue.springbootvueproject.Pojo.District">
        select *
        from district
    </select>

    <!--添加地区名称-->
    <insert id="addRegionInfo">
        insert into district (name)
        values (#{name})
    </insert>

    <!--更新地区名称-->
    <update id="updateRegionInfo">
        update district set name = #{name} where id = #{id}
    </update>

    <!--删除地区名称-->
    <delete id="removeRegion">
        delete from district where id = #{id}
    </delete>
</mapper>